# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

#images and other private content
/src/images
/src/assets/fonts

#temporal content
/src/assets/db

# misc
.DS_Store
2do.txt
.env.local
.env.development.local
.env.test.local
.env.production.local
*.code-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# gatsby files
.cache/
public/